body {
    display: block;
    background-color: rgb(223, 223, 223);
    color: rgb(51, 50, 50);
    margin: 20px 20px 20px 20px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 0px 720px;
    width: 400px;
    height: 50px;
        border: 5px solid rebeccapurple;
        background-color: lightgray;
}

.nav {
    display: inline-flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin: 20px 0px 0px 0px;
    width: 700px;
    height: 50px;
    border: 5px solid rebeccapurple;
    background-color: lightgray;
}

.left {
    align-items: left;
    margin: 20px 0px 0px 0px;
    
}

.right {
    align-items: left;
    margin: 20px 0px 0px 425px;

}

.About-Me {

}

.My-Work {

}

.Resume {

}

.Contacts {
    
}