html,
body {
    font-family: 'Rubik', sans-serif;
}

.ui.inverted.top.fixed.menu, 
.ui.inverted.vertical.segment {
    background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik Mono One', sans-serif;
}